@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap' );
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: "Montserrat";
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    color: grey;
    font-family: sans-serif;
    }

.main-nav ul {
    margin: 0;
    font-family: "Poppins";
}

.main-nav li { 
    display: inline;
}

.main-nav a {
    display: inline-block;
    padding: .5em;
    color: #001276;
    text-decoration: none;
}

.main-nav a:hover {
    background-color: rgb(191, 230, 245);
}

.main-nav {
    text-align: center;
    font-size: 1.2em;
    font-weight: lighter;
    border-bottom: 3px solid white;
}

.main-nav li {
    padding: 0 5%;
}

h2 {
        font-family: "Montserrat";
        color: #001276;
        
}

.main-header {
    background-image: url("Images/PSheadernew.png");
    background-size: cover;
    padding-bottom: 20px;
    font-family: "Poppins";
    text-align: center;
}

.postscript-name {
    text-align: right;
    margin: 0;
    font-size: 1.5em;
    font-family: "Poppins";
    color: white;
}
.postscript-name-large {
    text-align: center;
    margin: 0;
    font-size: 7em;
    font-family: "Poppins";
    color: #001276;
}

.content {
    margin: 1em;
    text-align: justify ;
    }

.container  {
    max-width: 1500px;
    text-align: justify;
    margin: 0 auto;
    padding: 10px 1.5em;
}
.main-footer {
    background-image: url("Images/postscriptpagesfooter.png") ;
    background-size: cover;
    padding: .5em 0;
    font-family: "Poppins";
}

.main-footer-container {
    display: flex;
    align-items: center;
}
.main-footer-container ul {
    flex-grow: .5;
    text-align: end;
}

.footer-nav li {
    padding: 0 .75em;
}
.footer-nav img {
    width: 60px;
    height: 60px;
}

.footer-nav ul {
    margin: 0;
    font-family: "Poppins";
}

.footer-nav li { 
    display: inline;
}

.footer-nav a {
    display: inline-block;
    padding: .1em;
    color: #001276;
    text-decoration: none;
}

.footer-nav a:hover {
    background-color: rgb(191, 230, 245);
}

.footer-nav {
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
}

.footer-nav li {
    padding: 0 2%;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
    font-family: "Poppins";
    max-width: 5%;
}

.btnMail {
    color: white;
    background-color: white;
    vertical-align: middle;
    padding: .25em;
    cursor: pointer;
    border-radius: 10%;
    border: none;
}

.btnLI {
    color: white;
    background-color: white;
    vertical-align: middle;
    padding: .25em;
    cursor: pointer;
    border-radius: 10%;
    border: none;
}

.btnMail:hover {
    background-color: none;
}

.btnLI:hover {
    background-color: none;
}

.posty-row {
    border-bottom: 1px solid #3398DB;
    padding-bottom: 1em;
    margin-bottom: 1em;

}
.posty-row:last-child {
    border-bottom: none;
}

.posty-item{
    padding-right: .5em;
    display: inline-block;

}
.start-date {
    color: #555;
    font-weight: bold;
    width: 10%;
}
.posty-name{
    width: 13%;
}
.posty-title{
    width: 32%;

}
.posty-city{
    width: 15%

}
.posty-phone{
    width: 18%;
}